src/Qoollo.Logger.AppConfigProject/OldFormat/ConfigurationSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="LoggerConfig" elementFormDefault="qualified" targetNamespace="LoggerConfig" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="logProperties" type="tns:LoggerConfig.LogPropertiesCT" />
	<xs:complexType name="LoggerConfig.LogPropertiesCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="loggerConfigurations" type="tns:LoggerConfig.LoggerConfigurationsCT">
				<xs:annotation>
					<xs:documentation>The LoggerConfigurations.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="isEnable" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The IsEnable.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="LoggerConfig.ConsoleLoggerCT">
		<xs:attribute name="template" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Template.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="level" use="optional" type="tns:Level">
			<xs:annotation>
				<xs:documentation>The Level.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="LoggerConfig.FileLoggerCT">
		<xs:attribute name="filename" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Filename.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="template" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Template.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="isNeedRotate" use="required" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The IsNeedRotate.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="encoding" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Encoding.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="level" use="optional" type="tns:Level">
			<xs:annotation>
				<xs:documentation>The Level.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="LoggerConfig.DBLoggerCT">
		<xs:attribute name="connectionString" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ConnectionString.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="storeProcedureName" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The StoreProcedureName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="level" use="optional" type="tns:Level">
			<xs:annotation>
				<xs:documentation>The Level.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="LoggerConfig.PipeLoggerCT">
		<xs:attribute name="serverName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ServerName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="pipeName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The PipeName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="level" use="optional" type="tns:Level">
			<xs:annotation>
				<xs:documentation>The Level.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="LoggerConfig.NetLoggerCT">
		<xs:attribute name="serverName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ServerName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="port" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The Port.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="level" use="optional" type="tns:Level">
			<xs:annotation>
				<xs:documentation>The Level.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="LoggerConfig.RoutingLoggerCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="bindingByModuleName" type="tns:LoggerConfig.BindingByModuleNameCT">
				<xs:annotation>
					<xs:documentation>The BindingByModuleName.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="fromAll" type="tns:LoggerConfig.FromAllCT">
				<xs:annotation>
					<xs:documentation>The FromAll.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="fromOthers" type="tns:LoggerConfig.FromOthersCT">
				<xs:annotation>
					<xs:documentation>The FromOthers.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="level" use="optional" type="tns:Level">
			<xs:annotation>
				<xs:documentation>The Level.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="LoggerConfig.LoggerConfigurationsCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="loggerConfigurationBase" type="tns:LoggerConfig.LoggerConfigurationBaseCT">
				<xs:annotation>
					<xs:documentation>The LoggerConfigurationBase Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="LoggerConfig.BindingByModuleNameCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="module" type="tns:LoggerConfig.ModuleCT">
				<xs:annotation>
					<xs:documentation>A collection of Logger instances.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="LoggerConfig.ModuleCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="logger" type="tns:LoggerConfig.LoggerCT">
				<xs:annotation>
					<xs:documentation>The Logger Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="moduleName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ModuleName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="LoggerConfig.LoggerCT">
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="LoggerConfig.FromAllCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="logger" type="tns:LoggerConfig.LoggerCT">
				<xs:annotation>
					<xs:documentation>The Logger Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="LoggerConfig.FromOthersCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="logger" type="tns:LoggerConfig.LoggerCT">
				<xs:annotation>
					<xs:documentation>The Logger Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="LoggerConfig.LoggerConfigurationBaseCT">
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="level" use="optional" type="tns:Level">
			<xs:annotation>
				<xs:documentation>The Level.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="LoggerConfig.GroupLoggerCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="loggers" type="tns:LoggerConfig.LoggersCT">
				<xs:annotation>
					<xs:documentation>The Loggers.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="level" use="optional" type="tns:Level">
			<xs:annotation>
				<xs:documentation>The Level.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="LoggerConfig.LoggersCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="logger" type="tns:LoggerConfig.LoggerCT">
				<xs:annotation>
					<xs:documentation>The Logger Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="LoggerConfig.AsyncQueueCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="logger" type="tns:LoggerConfig.LoggerCT">
				<xs:annotation>
					<xs:documentation>The Logger.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="queueSize" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The QueueSize.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="isDiscardExcess" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The IsDiscardExcess.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="isRepeatLoggingIfErrors" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The IsRepeatLoggingIfErrors.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="level" use="optional" type="tns:Level">
			<xs:annotation>
				<xs:documentation>The Level.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="LoggerConfig.AsyncQueueWithReliableSendingCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="logger" type="tns:LoggerConfig.LoggerCT">
				<xs:annotation>
					<xs:documentation>The Logger.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="folderNameOfTemporaryStore" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The FolderNameOfTemporaryStore.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="maxFileSize" use="optional" type="xs:long">
			<xs:annotation>
				<xs:documentation>The MaxFileSize.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="queueSize" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The QueueSize.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="isDiscardExcess" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The IsDiscardExcess.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="isRepeatLoggingIfErrors" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The IsRepeatLoggingIfErrors.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="level" use="optional" type="tns:Level">
			<xs:annotation>
				<xs:documentation>The Level.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="Level">
		<xs:annotation>
			<xs:documentation>Level.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="TRACE">
				<xs:annotation>
					<xs:documentation>TRACE.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DEBUG">
				<xs:annotation>
					<xs:documentation>DEBUG.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="INFO">
				<xs:annotation>
					<xs:documentation>INFO.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="WARN">
				<xs:annotation>
					<xs:documentation>WARN.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ERROR">
				<xs:annotation>
					<xs:documentation>ERROR.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FATAL">
				<xs:annotation>
					<xs:documentation>FATAL.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ConfigurationType">
		<xs:annotation>
			<xs:documentation>ConfigurationType.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="ConsoleLoggerConfiguration">
				<xs:annotation>
					<xs:documentation>ConsoleLoggerConfiguration.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FileLoggerConfiguration">
				<xs:annotation>
					<xs:documentation>FileLoggerConfiguration.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DBLoggerConfiguration">
				<xs:annotation>
					<xs:documentation>DBLoggerConfiguration.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PipeLoggerConfiguration">
				<xs:annotation>
					<xs:documentation>PipeLoggerConfiguration.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NetLoggerConfiguration">
				<xs:annotation>
					<xs:documentation>NetLoggerConfiguration.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RoutingLoggerConfiguration">
				<xs:annotation>
					<xs:documentation>RoutingLoggerConfiguration.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
